/* for mobile screens */
@media screen and (max-width:425px) {
	#restaurants-list li{
		width: 100%;
		margin: 5px 0 5px 0;
	}
	#restaurants-list {
		padding: 5px;
	}

	.filter-options{
		display: flex;
		flex-wrap: wrap;
	}
	.filter-options-heading {
		width: 100%;
	}
	.filter-options-content {
		width: 100%;
		display: flex;
	}
	nav {
		height: auto;
	}

  nav h1 {
    padding: 0;
  }

	nav h1 a {
		font-size: 1.2em;
	}

	#footer_break {
		display: block;
	}
}

@media screen and (min-width:426px) and (max-width:600px) {
  #restaurants-list li {
    width: 90%;
  }
}

@media screen and (min-width:601px) and (max-width:768px) {
	nav h1 a {
		font-size: 5vw;
	}

	nav {
		height: auto;
	}

  #restaurants-list {
    display: flex;
    flex-wrap: wrap;
  }
	#restaurants-list li {
		margin: 10px auto;
    padding: 0 20px 15px;
    width: 40vw;

	}
}

@media screen and (min-width:769px) and (max-width:1121px) {

    #restaurants-list {
      display: flex;
      flex-wrap: wrap;
    }

  #restaurants-list li {
    padding: 0;
    width: calc(33.3333333% - 34px);
  }
}
